BODY,TD,SELECT,input,DIV,form,TEXTAREA,center,option,pre,blockquote {font-size:9pt;font-family:굴림;color:#000000 }
TABLE {padding:0; border-spacing:0px; border:0; border-collapse:collapse;}
IMG {border:0px}

BODY { margin-left: 0px; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; background-color: #ffffff; }

A:link    {color:black;text-decoration:none;}
A:visited {color:black;text-decoration:none;}
A:active  {color:black;text-decoration:none;}
A:hover   {color:black;text-decoration:none;}

BODY
{
	/*폰트 스타일*/
	FONT-FAMILY: "돋움",  "arial";
	font-size: 11pt;
    FONT-STYLE: normal;
    LINE-HEIGHT: 14pt;
	COLOR: #5f5f5f;
}

form
{
	margin:0;padding:0
}

p
{
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

.font1  /*자동정렬*/
{
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	COLOR: #5f5f5f;
}

.font1-1  /*자동정렬*/
{
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	COLOR: #5f5f5f;
	padding-left:10px;
}

.font2  /*자동정렬*/
{
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	font-weight: bold;
	COLOR: #5f5f5f;
}
.font2-1  /*자동정렬*/
{
    background-Color:#f2f2f2;
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 12px;
	LINE-HEIGHT: 14pt;
	font-weight: bold;
	COLOR: #000000;
	text-align:center;
}

.font3  /*자동정렬*/
{
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	COLOR: #ffffff;
}

.font4  /*자동정렬*/
{
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	font-weight: bold;
	COLOR: #ffffff;
}

.font5  /*자동정렬*/
{
    FONT-FAMILY: "윤고딕330",  "Crisp";

    FONT-SIZE: 14px;
    LINE-HEIGHT: 14pt;
    font-weight: bold;
    height:26px;
    COLOR: #000000;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #333333;
}
.font6  /*자동정렬*/
{
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	font-weight: bold;
	height:26px;
	padding-left : 10px;
	COLOR: #ed1c24;
}

.font7  /*자동정렬*/
{
    FONT-FAMILY: "윤고딕330",  "Crisp";

    FONT-SIZE: 14px;
    LINE-HEIGHT: 14pt;
    font-weight: bold;
    height:26px;
    COLOR: #ffffff;
}

.BG0
{
	background-Color:#ffffff;
}

.BG1
{
	background-Color:#000000;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 12px;
	LINE-HEIGHT: 14pt;
	font-weight: bold;
	height:22px;
	COLOR: #ffffff;
	text-align:center;
}
.BG1-1
{
	background-Color:#ed1c24;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	font-weight: bold;
	height:22px;
	COLOR: #ed1c24;
	text-align:center;
}
.BG1-2
{
	background-Color:#ed1c24;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	height:22px;
	COLOR: #ffffff;
	text-align:center;
}
.BG1-3
{
	background-Color:#ed1c24;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	font-weight: bold;
	height:22px;
	COLOR: #ffffff;
	text-align:left;
}

.BG2
{
	background-Color:#666666;
 	FONT-FAMILY: "돋움",  "arial";
    	FONT-SIZE: 12px;
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	/*font-weight: bold;*/
	height:22px;
	/*width:140px;*/
	COLOR: #ffffff;
}

.BG2-CT
{
	background-Color:#666666;
 	FONT-FAMILY: "돋움",  "arial";
    	FONT-SIZE: 12px;
	LINE-HEIGHT: 14pt;
	padding-left : 0px;
	/*font-weight: bold;*/
	height:22px;
	/*width:140px;*/
	COLOR: #ffffff;
	text-align:center;
}
.BG2-1
{
	background-Color:#000000;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	height:22px;
	COLOR: #ffffff;
}

.BG2-2
{
	background-Color:#eeece1;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 12px;
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	height:22px;
	COLOR: #000000;
}

.BG2-2-3
{
	background-Color:#eeece1;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 12px;
	LINE-HEIGHT: 14pt;
	padding-left : 0px;
	height:22px;
	COLOR: #000000;
	text-align: center;
}

.BG2-2-2
{
	background-Color:#eeece1;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 12px;
	LINE-HEIGHT: 14pt;
	/*padding-left : 10px;*/
	height:22px;
	COLOR: #000000;
}

.BG2-2-1
{
	background-Color:#ffffff;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	padding-left : 1px;
	height:20px;
	COLOR: #5f5f5f;
}

.BG2-3
{
	background-Color:#eeece1;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 12px;
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	height:20px;
	COLOR: #000000;
	text-align:center;
}
.BG2-4
{
	background-Color:#000000;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	font-weight: bold;
	height:22px;
	width:130px;
	COLOR: #ffffff;
	text-align:center;
}
.BG2-5
{
	background-Color:#ffffff;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	height:22px;
	COLOR: #5f5f5f;
}

.BG2-6
{
	background-Color:#000000;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	height:22px;
	width:130px;
	COLOR: #ffffff;
	text-align:center;
}

.BG2-7
{
	background-Color:#000000;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	padding-left : 0px;
	font-weight: bold;
	height:22px;
	width:140px;
	COLOR: #ffffff;
	text-align:center;
}
.BG2-8
{
	background-Color:#000000;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	font-weight: bold;
	height:22px;
	width:100px;
	COLOR: #ffffff;
}
.BG2-9
{
	background-Color:#000000;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	font-weight: bold;
	height:22px;
	width:140px;
	COLOR: #ffffff;
}
.BG2-10
{
    background-Color:#000000;
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
    LINE-HEIGHT: 14pt;
    padding-left : 10px;
    font-weight: bold;
    height:22px;
    width:90px;
    COLOR: #ffffff;
}

.BG2-NULL
{   
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	height:22px;
	width:140px; 
}  
.BG2-NOWIDTH
{
	background-Color:#000000;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	padding-left : 10px;
	font-weight: bold;
	height:22px;
	COLOR: #ffffff;
}
.BG2-2-NOPADDING
{
	background-Color:#ffffff;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	height:20px;
	COLOR: #5f5f5f;
	text-align:center;
}
.LBL_WIRED
{
	display: block;
 	FONT-FAMILY: "돋움",  "arial";
	FONT-SIZE: 8pt;
	font-weight: bold;
	text-align:center;
	COLOR: white;
}

.BG3
{

	background-Color:#cccccc;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	height:22px;
	COLOR: #5f5f5f;
}
.BG3-1
{

	background-Color:#cccccc;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	height:22px;
	COLOR: #5f5f5f;
	text-align:center;
}

.BG4
{

	background-Color:#666666;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	height:22px;
	COLOR: #5f5f5f;
	text-align:center;
}
.BG4-1
{

	background-Color:#666666;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	height:22px;
	LINE-HEIGHT: 14pt;
	height:22px;
	COLOR: #ffffff;
	text-align:center;
}
.BG5
{

	background-Color:#f2f2f2;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 12px;
	LINE-HEIGHT: 14pt;
	height:22px;
	COLOR: #000000;
	font-weight: bold;
	text-align:center;
}

.BG5-1
{

	background-Color:#c0c0c0;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	height:22px;
	COLOR: #ffffff;
	font-weight: bold;
	padding-left : 10px;
}
.BG5-2
{

	background-Color:#c0c0c0;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	height:22px;
	COLOR: #000000;
	font-weight: bold;
	text-align:center;
}
.BG6
{

	background-Color:#c0c0c0;
 	FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 11px;
	LINE-HEIGHT: 14pt;
	height:22px;
	COLOR: #ffffff;
	padding-left : 10px;
}

.PD1
{
	padding-left : 10px;
	height:22px;
}

.PD2
{
	background-Color:#ffffff;
	height:1px;
}

.PD3

{
	background-Color:#ffffff;
	height:25px;
	text-align:center;
	vertical-align:middle;
}

.PD4
{
	background-Color:#f2f2f2;
	height:3px;
}

.PD4-1
{
	background-Color:#ed1c24;
	height:3px;
	padding-left:10px;
}

.PD5
{
	height:8px;
}
.PD6
{
	text-align:right;
	height:25px;
	vertical-align:bottom;
}

.PD7
{
	text-align:right;
	height:25px;
	vertical-align:middle;
	border-bottom-width: 1px;
    	border-bottom-style: solid;
    	border-bottom-color: #333333;
}

.PD8
{
	height:15px;
}

.PD9
{
	text-align:center;
	height:25px;
	vertical-align:middle;
}

.input1   /* 폼 스타일 */
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #dedede 1px solid;
    BORDER-LEFT: #dedede 1px solid;
    BORDER-RIGHT: #dedede 1px solid;
    BORDER-TOP: #dedede 1px solid;
	font-size:9pt;
	FONT-FAMILY: "돋움",  "arial"; 
	COLOR: #5f5f5f;
	width:100%;
}
.input2   /* 폼 스타일 */
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #dedede 1px solid;
    BORDER-LEFT: #dedede 1px solid;
    BORDER-RIGHT: #dedede 1px solid;
    BORDER-TOP: #dedede 1px solid;
	font-size:9pt;
	FONT-FAMILY: "돋움",  "arial"; 
	COLOR: #5f5f5f;
	width:100px;
}
.input2-1   /* 폼 스타일 */
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #dedede 1px solid;
    BORDER-LEFT: #dedede 1px solid;
    BORDER-RIGHT: #dedede 1px solid;
    BORDER-TOP: #dedede 1px solid;
	font-size:9pt;
	FONT-FAMILY: "돋움",  "arial"; 
	COLOR: #5f5f5f;
	width:150px;
}
.input2-2   /* 폼 스타일 */
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #dedede 1px solid;
    BORDER-LEFT: #dedede 1px solid;
    BORDER-RIGHT: #dedede 1px solid;
    BORDER-TOP: #dedede 1px solid;
	font-size:9pt;
	FONT-FAMILY: "돋움",  "arial"; 
	COLOR: #5f5f5f;
	width:25px;
}
.input2-4   /* 폼 스타일 */
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #dedede 1px solid;
    BORDER-LEFT: #dedede 1px solid;
    BORDER-RIGHT: #dedede 1px solid;
    BORDER-TOP: #dedede 1px solid;
	font-size:9pt;
	FONT-FAMILY: "돋움",  "arial"; 
	COLOR: #5f5f5f;
	width:250px;
}
.input3   /* 폼 스타일 */
{
    BACKGROUND-COLOR: #ffffff;
    BORDER-BOTTOM: #dedede 1px solid;
    BORDER-LEFT: #dedede 1px solid;
    BORDER-RIGHT: #dedede 1px solid;
    BORDER-TOP: #dedede 1px solid;
	font-size:9pt;
	FONT-FAMILY: "돋움",  "arial"; 
	COLOR: #5f5f5f;
	width:80%;
}

.TB	/* Table spacing */
{
	border-collapse: separate;
	border-spacing: 1px;
	padding: 0px;
}

h1 {
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 14pt;
	LINE-HEIGHT: 14pt;
	font-weight: bold;
	height:26px;
	padding-left : 10px;
	COLOR: #ed1c24;
}

h2 {
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 12pt;
	LINE-HEIGHT: 14pt;
	font-weight: bold;
	height:26px;
	padding-left : 10px;
	COLOR: #ed1c24;
}

h3 {
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 10pt;
	LINE-HEIGHT: 14pt;
	font-weight: bold;
	height:26px;
	padding-left : 10px;
	COLOR: #ed1c24;
}

h4 {
    FONT-FAMILY: "돋움",  "arial";
    FONT-SIZE: 9pt;
	LINE-HEIGHT: 14pt;
	font-weight: bold;
	height:26px;
	padding-left : 10px;
	COLOR: #ed1c24;
}


/* 
	HJKIM - Wireless 3rd Menu style define
*/
.menu3rdSelect {
	color:#EE2C2A;
	font-family:돋움;
	font-weight:bold;
	text-decoration:underline;
	font-size:9pt;
}
.menu3rdNormal {
	color:#333333;
	font-family:돋움;
	font-weight:normal;
	font-size:9pt;
}
.menu3rdMouse{
	color:#333333;
	font-family:돋움;
	font-weight:bold;
	font-size:9pt;
}

/* 2014.05.22 [LJH] Mobile Web 관련 */

.input_e_l { font-family: verdana, Dotum, geneva, helvetica, arial, sans-serif; font-size:11px; color:#333333; padding: 1 3 0 2; background:#E2EFFA; border:1px solid #2763A5; ime-mode : disabled}
.input_r_t { font-family: verdana, Dotum, geneva, helvetica, arial, sans-serif; font-size:11px; color:red; padding: 1 3 0 2; background:#E7E7E7; border:1px solid #2763A5; ime-mode : disabled}
